.parr-dependencies{
    margin-top: 3em;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: justify;
}
.parr-dependencies-dev{
    font-size: large;
    font-weight: bold;
    color: white;
}
.parr-dependencies-prod{
    font-size: large;
    font-weight: bold;
    color: white;
}
.list-dependencies{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.list-dependencies-dev{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.list-dependencies-prod{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.ant-pagination-item-link{
    background-color: #FFFFFF !important;
}
.ant-pagination-prev{
    margin-right: 27px;
    
}
.ant-pagination-next{
    margin-right: 27px;
    
}